@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'ChosunGu', sans-serif !important;
    letter-spacing: 0.5px;
    font-weight: bold !important;
}

body {
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
}
.wrap {
    margin: 0 auto;
    min-width: 550px;
    min-height: 200px;
    padding: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    position: relative;
}
h3 { padding-bottom: 40px; }

#footer {
    position: absolute;
    bottom: -30px;
    right: 5px;
}
#header {
    margin: -30px -30px 45px;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
}
#header > a {
    display: inline-block;
    flex-basis: 15%;
    background-color: #eaf3ff;
}
#header > .show-database {
    flex-basis: 85%;
    text-align: right;
    position: relative;
}
.show-database .current {
    width: 190px;
}
.show-database .current span {
    width: 140px;
    display: inline-block;
}
.show-database .list {
    width: 190px;
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 10px 15px;
    background-color: #ffffffde;
    border: 1px solid #f3f3f3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}
.show-database .active {
    display: block;
}
.show-database .list a {
    display: block;
    padding: 10px 0;
}

.btn-secondary { background-color: lightgray; }
.btn-light { border: 1px solid #f3f3f3 !important; }
.btn-light:hover { background-color: #fafafa; }

/* DHTMLX GRID */
.dhx_grid-body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.dhx_grid-body::-webkit-scrollbar {
    width: 8px;
}
.dhx_grid-body::-webkit-scrollbar-track {
    background-color: #ebebeb;
    border-radius: 100px;
}
.dhx_grid-body::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 100px;
}