#fail_grid, #success_grid {
    margin-top: 20px;
}
#success_grid { display: none; }
input[type=file] { display: none !important; }

form { position: relative; }
form button { position: absolute; right: 0; }
#file-info {
    width: calc(100% - 160px);
    text-align: left;
    background-color: #f2f2f2;
    cursor: unset !important;
}
#info { margin: 20px 0 10px 0; }
table { margin: 20px 0; }
th { background-color: #f3f3f3; }
tr { border: 1px solid #e6e6e6; }
td { padding: 10px !important; }
